html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}
.button-class{
  border: 2px solid #2979FF;
}
.button-class:hover{
  border: 2px solid #2979FF;
  background-color: #2979FF;
}

.add-icon-color{
  color: #8f919b;
}
.add-icon-color:hover{
  color: #2979FF !important;
  cursor: pointer;
}
.outlined-btn-color{
  color: #8f919b;

}
.outlined-btn-color:hover{
  color: #2979FF !important;
  cursor: pointer;
  border: 1px solid #2979FF !important;
}

.close-icon-style{
  color: #b7b8c2;
  cursor: pointer;
}
.close-icon-style:hover{
  color: #D53343;
}

.colorLink{
  color: #636578;
  text-decoration: none;
  font-weight: 600;
}
.colorLink:hover{
  color: #2c2c31;
  text-decoration: none;
  font-weight: 600;
}

.heading-ai-list-gpt::-webkit-scrollbar{
  background-color: #2979FF; /* Replace this with your desired background color */
  color: #fff;
  width: 10px;
}
.heading-ai-list-gpt::-webkit-scrollbar-thumb {
  background-color: #2979FF !important;
  border-radius: 4px;
}
.heading-ai-list-gpt::-webkit-scrollbar-thumb:hover {
  background-color: #0086b3 !important;
}
.heading-ai-list-gpt::-webkit-scrollbar-track{
  background: #bcb5b5;
}

.search {
  border-radius: 8px;
  border: 1px solid #D8D8DD;
  margin-right: 5px;
  padding: 5px !important;
}
.search:focus{
  outline:solid 1px #D8D8DD;

}


.custom-toolbar {
  position: absolute;
  z-index: 1001;
  background-color: #F7F7F9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  position: fixed;
  transform: translate(-50%, -50%);
}

.toolbar-class{
  position: sticky !important;
  top:0%;
  background-color: #fff !important;
  z-index: 1000;
  border: 1px solid #EAEAEE !important;
  /* width: 55%; */
}
.rdw-editor-main{
  overflow: hidden !important;
}

.MuiDataGrid-row{
  cursor: pointer;
}
.swal2-popup .swal2-modal .swal2-icon-warning .swal2-show{
  z-index: 10000000;
}

.rewrite-info::-webkit-scrollbar {
  width: 7px;
  cursor: pointer !important;
}

.rewrite-info {
  scrollbar-width: thin;
  scrollbar-color: #009EF7 !important;
  /* cursor: pointer !important; */
}

.rewrite-info::-webkit-scrollbar-track {
  background: #ffffff;
  cursor: pointer !important;
  scrollbar-color: #009EF7 !important;
}
.rewrite-info::-webkit-scrollbar-track:hover {
  background: #ffffff;
  cursor: pointer !important;
  scrollbar-color: #009EF7 !important;
}

.rewrite-info::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 6px;
  border: 8px solid #dbe0e3;
  cursor: pointer !important;
  scrollbar-color: #009EF7 !important;
}

/* .custom-action-buttons {
  display: flex;
  align-items: center;
}

.editor-container {
  display: flex;
  flex-direction: column;
} */

.MuiCard-root{
  box-shadow: none !important;
  border: 1px solid #E9E9EC;
}

.rdw-dropdown-optionwrapper{
  overflow-y: hidden !important;
}

.rdw-link-modal{
  height: 230px !important;
}
.rdw-link-modal-input{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.article_urls{
  text-decoration: none;
  color: #626477;
}
.article_urls:hover{
  color:#2979FF;
}

.article_tbl_folder_dropdown{
  padding: 4.5px 14px;
}
.rdw-dropdown-wrapper{
  margin-top: 2px !important;
}

#calendar-12h_panel{
  background-color: #b7b8c2;
  z-index: 10000000000 !important;
}

.featured_img_btn{
  background-color: #EAEAEB;
  border-radius: 5px;
  color:#555555;
  width: 40px;
  height: auto;
  padding: 7px;
  cursor: pointer;
}
.featured_img_btn:hover{
  background-color: #fff;
  border-radius: 5px;
  color: #000;
}

.img_btn{
  background-color: #ececec !important;
  color: #000 !important;
}
.img_btn:hover{
  background-color: #fff !important;
  color: #000 !important;
}

.suggested_img:hover{
  border: 5px solid #2979FF !important;
}